CalendarJp/userPreferences.*
CalendarJp/Project/*
CalendarJp/Libraries/lib4d-arm64.dylib
CalendarJp/Resources/en.lproj/syntaxEN.json
CalendarJp_Build/*
CalendarJp/Settings/buildApp.4DSettings
CalendarJp/Data/*
